@page
@model MyApp.Namespace.ListModel
@{
}
<h1>Threads</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"  asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="bi bi-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>

<table class="table">
    @foreach(var thread in Model.Threads)
    {
    <tr>
        <td>@thread.Subject</td>
        <td>@thread.Summary</td>
    </tr>
    }
</table>




