# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
charset=utf-8
trim_trailing_whitespace = true
indent_size = 4

# MSBuild files
[*.{csproj,props,targets}]
indent_size = 2

[*.cshtml.cs]
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2590#issuecomment-518272407
dotnet_diagnostic.SA1649.severity = none
